<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagicalLifeGUI.Storage.Universal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MagicalLifeGUI.Storage.MainWindow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <MagicalLifeGUI.Storage.Universal>
            <setting name="GameHasRunBefore" serializeAs="String">
                <value>False</value>
            </setting>
        </MagicalLifeGUI.Storage.Universal>
        <MagicalLifeGUI.Storage.MainWindow>
            <setting name="ScreenSize" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="Boarder" serializeAs="String">
                <value>None</value>
            </setting>
        </MagicalLifeGUI.Storage.MainWindow>
    </userSettings>
</configuration>
