<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MagicalLifeSettings.Storage.MainWindow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MagicalLifeSettings.Storage.MainWindow>
            <setting name="ScreenSize" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="Boarder" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>0</value>
            </setting>
        </MagicalLifeSettings.Storage.MainWindow>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup></configuration>