<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.WindowsDX" version="3.6.0.1625" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="protobuf-net" version="2.3.16" targetFramework="net471" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net471" />
</packages>